<div><div><%= link_to "All questions", admin_question_index_path %></div><%= render :partial=>'admin/question/item', :collection=>@questions %></div>
<div><div><%= link_to "All bodies", admin_body_index_path %></div><%= render :partial=>'admin/body/item', :collection=>@bodies %></div>
<div><div><%= link_to "All products", admin_product_index_path %></div><%= render :partial=>'admin/product/item', :collection=>@products %></div>
