<%= link_to "Edit", edit_admin_question_path(@question) %>
<%= link_to "Delete", admin_question_path(@question), :method=>:delete %>
<h4><%= h @question.name %></h4>
<%#= render :partal=>'admin/answer/item', :locals=>{:item=>@question.answers.first} %>
<%= render :partial=>'admin/answer/item', :collection=>@question.answers %>
<%= link_to 'Index', admin_question_index_path %>
